/* *{
    background-color: cyan;
} */
body{
   
    background-color: #A0C1B9;
}

button{
    font-size: 30px;
    background-color: #D4C2FC;
}
h1,h2{
    color: #28262C;
}
#signup{
    background-color: #14248A;
    color: #F9F5FF;
    /* This is id selector!!! */
    
}
span{
    color: #706993;
}
.tag{
    background-color: #331E38;
    color: #F4E8C1;
    font-size: 15px;
    /* This is class selector */
}
/* id tag is used only for single change
    class tag is used for multiple changes */